.Container-login {
  height: 100vh;
  width: 100vw;
  background-image: url("https://midomicilio.reniec.gob.pe/e-domicilioc/assets/images/fondo2.jpg");
  display: inline-block;
  background-size: 100%;
}
.Login {
  width: 480px;
  height: 600px;
  margin: 150px auto;
  border: solid rgba(0, 0, 0, 0.56) 2px;
  border-radius: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.20);
}
.Login__img {
  height: 140px;
  width: 380px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.Login__form input,
.Login__form button {
  display: inline-block;
  height: 60px;
  width: 350px;
  font-size: 24px;
  border-radius: 35px;
  margin-top: 30px;
  border: 0px;
}
.Login__form input {
  padding-left: 15px;
}
.Login__form button {
  background-color: #4287f5;
  color: white;
}
.Login__form button:active {
  background-color: #3e3bcf;
}

.Login__title {
  font-size: 22px;
  font-weight: 600;
  border-radius: 35px;
  margin-top: 30px;
  border: 0px;
  color: white;
}